<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897752143062-h1g46mio2runa5ri670bcve3542ikkkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897752143062-h1g46mio2runa5ri670bcve3542ikkkj</string>
	<key>API_KEY</key>
	<string>AIzaSyBU73fUruEn5yH9aN_s7rsl3K-Ffv0JPjo</string>
	<key>GCM_SENDER_ID</key>
	<string>897752143062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abelGlz.ContenidoAZ</string>
	<key>PROJECT_ID</key>
	<string>appcontenidotva</string>
	<key>STORAGE_BUCKET</key>
	<string>appcontenidotva.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897752143062:ios:0b6659075f4d527bf8a577</string>
</dict>
</plist>